.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  margin-top: -252px; /* Set margin-top to 0 to minimize space */
  padding-top: 0; /* Set padding-top to 0 if there is any padding */
}

  .wrapper {
    max-width: 900px;
    padding: 1rem;
    border: 1px solid #08159b; /* Add border */
    background-color: #b3b5c9; /* Add background color */
    color: #fff; /* Set text color to white */
    border-radius: 8px; /* Optional: Adjust border-radius */
  }

  .formHeader {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .close {
    color: #fff;
    cursor: pointer;
    transition: color 0.2s ease;
  }

  .formGrp {
    margin-bottom: 1rem;
    color: #fff;
  }
